vendor
/src/Service/TCPDF-main/
/Views/tcpdf/
/Upload/
/Controler/pdf/
/src/Service/FPDI-2.6.0/
/node_modules/
/Views/images/
.env
configuration_lanto_hasina.txt
configuration_prod.txt
/var/log/app_errors.log
src/Controller/pdf/
src/Controller/authentification.csv
Dossiers ORs
react-app
.vscode
composer.lock
var
Views/js/utils/config.js