{% extends "baseTemplate.html.twig"%}
{% block nav %}{% endblock %}

{% block stylesheets %}
	<link href="{{ App.base_path }}/Views/css/404.css?v=2025.10.22.08.00" rel="stylesheet">
{% endblock %}

{% block title %}
	Page introuvable
{% endblock %}

{% block content %}
	<div class="container text-center">
		<div class="brand">
			<span class="glyphicon glyphicon-king" aria-hidden="true"></span>
			<h3 class="text-uppercase"><img src="Views/assets/logoHFF.jpg" alt="logo hff"></h3>
		</div>
		<h1 class="head">
			<span>404</span>
		</h1>
		<p>Oops! La page demandée n'existe pas.</p>
		<a href="{{ path("security_signin") }}" class="btn-outline">
			Retour à l'acceuil</a>
	</div>


{% endblock %}

{% block javascript %}
	<script src="{{ App.base_path }}/Views/js/404.js?v=2025.10.22.08.00"></script>
{% endblock %}
