{% extends "baseTemplate.html.twig"%}

{% block stylesheets %}
	<link href="{{ App.base_path }}/Views/css/signin.css?v=2025.10.22.08.00" rel="stylesheet"/>
{% endblock %}

{% block title %}
	Authentification
{% endblock %}

{% block breadCrumb %}{% endblock %}

{% block content %}
	{% block nav %}{% endblock %}
	<div id="intro" class="bg-image shadow-2-strong">
		<div class="mask d-flex align-items-center h-100">
			<div class="container">
				<div class="row justify-content-center ">
					<div class="col-xl-5 col-md-8">
						<form class="bg-white rounded p-5 shadow" style="opacity: 85%" method="POST" action="">
							<img src="Views/assets/logoHFF.jpg" class="img-rounded" id="Logo"/>
							{% if error_msg %}
								<div class="alert alert-danger">
									{{ error_msg }}
								</div>
							{% endif %}

							<div class="form-outline mb-4" data-mdb-input-init>
								<label class="form-label" for="username">Utilisateur</label>
								<div class="input-group">
									<input type="text" id="username" class="form-control" name="Username" required/>
								</div>
							</div>

							<div class="form-outline mb-4" data-mdb-input-init>
								<label class="form-label" for="password">Mot de passe</label>
								<div class="input-group">
									<input type="password" id="password" class="form-control" name="Pswd" required/>
									<span class="input-group-text" id="toggleIconContainer" data-bs-toggle="tooltip" data-bs-original-title='Afficher le mot de passe'>
										<i class="fa fa-eye-slash cursor-pointer" id="toggleIcon" style="font-size: 0.7875rem; color: #6c757d;" aria-hidden="true"></i>
									</span>
								</div>
							</div>
							<button type="submit" class="btn" style="background-color: black; color: white">
								Se connecter
							</button>
						</form>
						<div class="notice">
							<span class="notice-icon">
								<i class="fas fa-info-circle"></i>
							</span>
							<div class="notice-content">L'identifiant et le mot de passe sont le nom d'utilisateur et le mot de passe que vous utilisez pour vous connecter à votre ordinateur.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascript %}
	<script src="{{ App.base_path }}/Views/js/signin.js?v=2025.10.22.08.00"></script>
{% endblock %}
