/* Styles pour la documentation technique */

.doc-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  line-height: 1.6;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 26px;
}

.doc-content h1,
.doc-content h2,
.doc-content h3,
.doc-content h4,
.doc-content h5,
.doc-content h6 {
  color: #333;
  margin-top: 1.5em;
  margin-bottom: 0.8em;
  font-weight: bold;
}

.doc-content h1 {
  font-size: 2.2em;
  border-bottom: 2px solid #eee;
  padding-bottom: 0.5em;
}

.doc-content h2 {
  font-size: 1.8em;
  border-bottom: 1px solid #eee;
  padding-bottom: 0.4em;
  margin-top: 2em; /* More space above category headings */
  color: #0056b3; /* A distinct color for categories */
}

.doc-content h3 {
  font-size: 1.4em;
}

.doc-content p {
  margin-bottom: 1.5em;
}

.doc-content ul {
  list-style: none; /* Remove default bullet points */
  padding-left: 0; /* Remove default padding */
  margin-bottom: 1.5em;
}

.doc-content ul li {
  margin-bottom: 0.8em;
  padding-left: 1.5em; /* Indent list items */
  position: relative;
}

.doc-content ul li::before {
  content: "\f067"; /* Font Awesome plus icon */
  font-family: "Font Awesome 5 Free";
  font-weight: 900; /* Solid icon */
  position: absolute;
  left: 0;
  color: #28a745; /* Green color for the icon */
  font-size: 0.8em;
  top: 0.2em;
}

.doc-content a {
  font-size: 1.1em;
  color: #343a40; /* Darker text for links */
}

.doc-content a:hover {
  text-decoration: underline;
}

.doc-content pre {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 3px solid #f36d33;
  color: #666;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 0.9em;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
}

.doc-content code {
  font-family: monospace;
  background-color: #f0f0f0;
  padding: 2px 4px;
  border-radius: 3px;
}

.doc-content table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1em;
}

.doc-content th,
.doc-content td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.doc-content th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.doc-content img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 1em auto;
  border: 1px solid #eee;
}
