@media print {
  * {
    -webkit-print-color-adjust: exact !important; /* Safari et Chrome */
    print-color-adjust: exact !important; /* Standard */
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  th,
  td {
    border: 1px solid black;
    padding: 8px;
  }
}

.trois-points-vertical {
  text-decoration: none;
  color: #212529;
  font-weight: 700;
  border: 1px solid #000;
}

.separator-row {
  height: 3px;
  background-color: #ccc;
}

.separator-row td {
  height: 3px;
  background-color: #212529;
}

.soft-separator {
  background-color: #eee; /* Couleur plus douce */
  height: 1px;
}

.rowspan-cell {
  vertical-align: middle; /* Centrer verticalement */
  text-align: center; /* Centrer horizontalement */
}

#suggestions {
  z-index: 1000;
  max-height: 200px;
  overflow-y: auto;
}

#suggestions .list-group-item {
  cursor: pointer;
}

.boutonRecherche {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.table-moitier {
  width: 100%;
  height: 36vh;
  overflow-y: auto;
  display: block;
}

.table-moitier thead {
  position: sticky;
  top: 0;
  z-index: 1;
}

.enteteAccordion {
  background-color: #fbbb01 !important;
  color: #212529 !important;
  font-size: 0.75rem !important;
}

.textColor {
  font-weight: bold;
  color: red !important;
}

thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}

.technicien {
  font-size: 12px !important;
}
