.sousTitre h3 {
  /* color: #0e4194; */
  color: black;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 0px;
}

.sousTitre div {
  width: 100%;
  height: 3px;
  background-color: #fbbb01;
  border-radius: 2px;
  margin-top: 0px;
  margin-bottom: 0px;
  border: none;
}

.sousTitreGiser h3 {
  color: #aaa;
  font-weight: bold;
}

.sousTitreGiser div {
  width: 100%;
  height: 15px;
  background-color: #aaa;
  border-radius: 2px;
  margin-top: 10px;
  border: none;
}

.nomClient {
  text-transform: uppercase;
}

#erreur {
  color: red;
}

.bouton {
  background-color: #fbbb01;
  color: black;
  font-weight: bold;
  padding: 10px 20px; /* Ajout d'un peu de padding pour un meilleur visuel */
  border: none; /* Optionnel : pour retirer une bordure si tu en as une */
  cursor: pointer; /* Optionnel : change le curseur pour indiquer que c'est un bouton */
  transition: background-color 0.3s, transform 0.2s; /* Ajout d'une transition douce */
}

.bouton:hover {
  background-color: #fdcb4d; /* Change la couleur de fond au survol */
  transform: scale(1.05); /* Légère augmentation de la taille du bouton */
}

.cadre {
  border: 1px solid #aaa;
  border-radius: 10px;
  padding: 10px;
}

.fond-btn {
  background-color: #e7dfc7;
}
