{% extends "baseTemplate.html.twig"%}

{% block title %}
	Nouveau Bon de Caisse
{% endblock %}

{% block stylesheets %}{% endblock %}

{% block content %}
	<div id="bandeau" class="container-fluid" data-bg-color="bg-orange-cat"></div>
	<div class="container text-center mb-4" style="margin-top:-4.5rem;">
		<iframe src="{{ url }}" frameborder="0" style="height:1180px;" width="100%"></iframe>
	</div>
{% endblock %}

{% block javascript %}
	<script src="{{ App.base_path }}/Views/js/formsDw/bg-color.js?v=2025.10.22.08.00"></script>
{% endblock %}
