<!-- Modal Bootstrap pour la confirmation -->
<div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="logoutModalLabel">Se déconnecter</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body fs-6">
				Êtes-vous sûr de vouloir vous déconnecter ?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Non, rester connecté</button>
				<a type="button" class="btn btn-danger" id="confirmLogout">Oui, je confirme</a>
			</div>
		</div>
	</div>
</div>
