.statut-ouvert {
  color: #ffff00 !important;
  text-shadow: 0px 0px 2px black;
}
.statut-en-attente {
  color: orange !important;
}
.statut-refuse {
  color: orangered !important;
}
.statut-en-cours {
  color: #3799ff !important;
}
.statut-planifie {
  color: #00ffff !important;
}
.statut-resolu {
  color: #008000 !important;
}
.statut-cloture {
  color: #00ff00 !important;
}
.statut-reouvert {
  color: #ff00ff !important;
}

.ouvert {
  background-color: #ffff00 !important;
  font-weight: bold;
}

.enattente {
  background-color: orange !important;
  font-weight: bold;
}

.refuse {
  background-color: orangered !important;
  font-weight: bold;
}

.encours {
  background-color: #3799ff !important;
  color: #000 !important;
}

.planifie {
  background-color: #00ffff !important;
  font-weight: bold;
}

.resolu {
  background-color: #008000 !important;
  font-weight: bold;
}

.reouvert {
  background-color: #ff00ff !important;
  font-weight: bold;
}

.cloture {
  background-color: #00ff00 !important;
  font-weight: bold;
}

/* Augmenter la largeur de la modale */
.modal-dialog.custom-width {
  max-width: 60%; /* Ajustez le pourcentage selon vos besoins */
}

/*
* pour le spiner
*/
.spinner-load {
  margin-bottom: 2rem !important;
  margin-left: 15px;
  position: relative;
  width: 10px; /* Taille totale du spinner */
  height: 10px;
}

.spinner-load div {
  position: absolute;
  width: 3px; /* Largeur des barres */
  height: 8px; /* Hauteur des barres */
  background: #000; /* Couleur par défaut */
  border-radius: 3px; /* Coins arrondis pour les barres */
  transform-origin: center 15px; /* Point autour duquel les barres tournent */
  animation: fade 1.2s linear infinite; /* Animation de disparition et réapparition */
}

/* Positionnement des barres autour du cercle */
.spinner-load div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

.spinner-load div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

.spinner-load div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

.spinner-load div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}

.spinner-load div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}

.spinner-load div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}

.spinner-load div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}

.spinner-load div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}

.spinner-load div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}

.spinner-load div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

.spinner-load div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}

.spinner-load div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

/* Animation de disparition progressive */
@keyframes fade {
  0%,
  100% {
    opacity: 0.1; /* Les barres commencent et terminent pâles */
  }
  50% {
    opacity: 1; /* La barre devient complètement opaque */
  }
}
