/* Onglet */
.onglet-head {
  border-bottom: 0;
}

.onglet-badge {
  position: absolute; /* Positionnement absolu par rapport au bouton */
  top: 3px; /* Ajustez pour le coin supérieur */
  right: 5px; /* Ajustez pour le coin droit */
  background-color: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 5px 0;
  border-radius: 50%; /* Donne une apparence circulaire */
  pointer-events: none; /* Empêche l'interaction avec le badge */
}

.onglet-head button {
  position: relative;
  font-size: 1rem !important;
  font-weight: bold;
  width: 20% !important;
  margin-right: 5px;
  opacity: 0.7;
  color: #000 !important;
  background-color: var(--bs-nav-tabs-link-active-bg) !important;
  border-color: var(--bs-nav-tabs-link-active-border-color) !important;
  transition: all 0.5s;
}

.onglet-head button:hover {
  opacity: 0.85;
  color: #f5d166 !important;
}

.onglet-head button.active {
  opacity: 1;
  z-index: 1;
  color: #ffc107 !important;
}

.border-top-left-radius-0 {
  border-top-left-radius: 0 !important;
}
