/**===================================
* Container du choix de l'autaucomplet
*======================================*/
/* Conteneur de la liste des suggestions */
.suggestions-container {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8); /* Noir transparent */
  /* border: 1px solid rgba(255, 255, 255, 0.3); Bordure blanche translucide */
  border-radius: 5px;
  max-height: 200px; /* Limite la hauteur des suggestions */
  overflow-y: auto; /* Active le défilement si nécessaire */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* Ombre subtile */
  z-index: 1000;
  width: 40%; /* Assure que la liste occupe toute la largeur du champ */
  margin-top: 5px;
}

/* Style des éléments de suggestion */
.suggestions-container .suggestion-item {
  padding: 10px;
  font-size: 14px;
  color: #ffc107;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}

/* Effet hover sur une suggestion */
.suggestions-container .suggestion-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

/* Style pour l'élément actif lors de la navigation avec ArrowDown/ArrowUp */
.suggestions-container .suggestion-item.active-suggestion {
  background-color: #ffc107;
  color: #000;
}

/* Style pour aucune suggestion trouvée */
.suggestions-container .no_results,
.suggestions-container .no_results:hover {
  color: #888;
  text-align: center;
  font-style: italic;
  padding: 10px;
}

/* Styles spécifiques au calendrier */
.calendar-container {
  max-height: 70vh;
  overflow: auto;
}

.calendar-cell {
  min-width: 40px;
  max-width: 40px;
  height: 32px;
  border: 1px solid #dee2e6;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  box-sizing: border-box;
}

.employee-name {
  background: #f8f9fa;
  font-weight: bold;
  position: sticky;
  left: 0;
  z-index: 3;
  box-shadow: 2px 0 2px -2px rgba(0, 0, 0, 0.1);
}

/* Week-end */
.weekend {
  background: #f3f3f3 !important;
}

/* Congé fusionné */
.conge-bar-annuler {
  background: #e22f29 !important;
  border: 1px solid #c93900 !important;
  position: relative;
}

.conge-bar-valide {
  background: #157725 !important;
  border: 1px solid #0a6b12 !important;
  position: relative;
}
.conge-bar-encours {
  background: #e6d46e !important;
  border: 1px solid #e9c31b !important;
  position: relative;
}

/* Indicator */
.day-indicator {
  cursor: pointer;
  font-size: 10px;
  font-weight: bold;
}

/* Entête fixe */
.calendar-header {
  position: sticky;
  top: 0;
  z-index: 5;
  background: white;
  border-bottom: 2px solid #ccc;
  display: flex;
}
