{% extends "baseTemplate.html.twig" %}
{% block stylesheets %}
	<link href="{{ App.base_path }}/Views/css/404.css?v=2025.10.22.08.00" rel="stylesheet">
{% endblock %}

{% block nav %}{% endblock %}

{% block content %}
	<div class="container text-center">
		<div class="brand">
			<span class="glyphicon glyphicon-king" aria-hidden="true"></span>
			<h3 class="text-uppercase"><img src="Views/assets/logoHFF.jpg" alt="logo hff"></h3>
		</div>
		<h1 class="head">
			<span>Veillez contacter l'administrateur</span>
		</h1>
		<p>{{message}}</p>
		<a href="{{ path("auth_deconnexion") }}" class="btn-outline">
			se connecter</a>
	</div>
{% endblock %}

{% block javascript %}
	<script src="{{ App.base_path }}/Views/js/404.js?v=2025.10.22.08.00"></script>
{% endblock %}
