<div class="row">
    <div class="col-4">
        <label for="Serv" class="label-form">Code :</label>
        <input type="text" name="Serv" class="form-control" id="Serv" value="{{ CodeServiceofCours.agence_ips }} {{ CodeServiceofCours.nom_agence_i100 }}" readonly>
    </div>
    <div class="col-4">
        <label for="LibServ" class="label-form">Service :</label>
        <input type="text" name="LibServ" class="form-control" id="LibServ" value="{{ CodeServiceofCours.service_ips }} {{ CodeServiceofCours.nom_service_i100 }}" readonly>
    </div>
</div>