<footer class=" mt-4 pb-3" style="background: #212529">
	<hr>
	<p class="text-center text-white m-0">&copy; 2024 hffintranet</p>
	<img src="{{ App.base_path }}/Views/assets/logoHFF.jpg" alt="logo HFF" width="150px" class="d-block mx-auto">
	<div class="chrono-container mt-3">
		<div class="chrono-bar">
			<div class="chrono-progress"></div>
		</div>
		<div class="chrono-text text-white" id="chrono-text">15:00</div>
	</div>
</footer>
