<div class='body'>
<div class="loader">
        <div class="animation">
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
        </div>
        <div class="text">Chargement ...</div>
</div>
</div>