<div class="spinner-container">
	<div class="spinner" id="spinner-service" style="display: none;">
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
	<label for="form_service">{{ form_label(form.service) }}</label>
</div>
<div id="service-container">
	{{ form_widget(form.service) }}
</div>
